fastapi
fastapi-users[sqlalchemy]
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv
requests
pydub
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
SQLAlchemy
asyncpg
httpx
pytest
pytest-asyncio