fastapi>=0.100.0
uvicorn
fastapi-users[sqlalchemy]>=12.1.0
pydantic-settings
psycopg2-binary
sqlalchemy[asyncio]
asyncpg
alembic
pytest
pytest-asyncio
httpx
boto3>=1.28
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
